name: P67

on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: [3.7]
        example:
          - "examples/Arduino/bg96/bg96_i2c_Si7021"
          - "examples/Arduino/bg96/bg96_dss_dns"
          - "examples/Arduino/bg96/bg96_client_http"
          - "examples/BC66_SDK/CPP/BC66_CPP_HELLO"
          - "examples/BC66_SDK/Arduino/BC66_A9_SI7021"
          - "examples/BC66_SDK/Arduino/BC66_A9_SI7021"
          - "examples/BC66_SDK/Arduino/BC66_A11_DS1820_DHT_GPIO"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -U https://github.com/OS-Q/S03/archive/master.zip
          platformio platform install file://.
      - name: Build
        run: |
          platformio run -d ${{ matrix.example }}
